

.container {
  padding: 0 2rem;
}

.main {
  min-height: 70vh;
  height: fit-content;
  padding: 0 0.8em;
  padding-top: 50px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:40px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}


.header_section{
  width:"100%";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 40px;
  border-bottom: 2px solid #000;
}

.header_actions{
  display: flex;
  flex-direction: row;
  gap:2rem;
}

.header_actions button{
  width: 135px;
  height: 36px;
  text-align: center;
  border: 4px solid #000;
  box-shadow: 1px 2px 0 0 #334422;
  cursor: pointer;
}

.header_actions a{
  display: inline-flex;
  justify-content: center;
  width: 64px;
  align-items: center;
  height: 36px;
  text-align: center;
  border: 4px solid #000;
  box-shadow: 1px 2px 0 0 #334422;
  text-decoration: none;
  text-align: center;
  color: black;
}

.title {
  margin: 0;
  line-height: 1;
  font-size: 2rem;
}




.product_card {
  width:350px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 3px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:0.5em;
  height: 200px;
  position: relative;
 
}

.product_card span{
  font-size: 1.4rem;
}

.product_card input[type="checkbox"]{
  height: 20px;
  width: 30px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}




.add_form{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width:"500px";
  font-family: cursive,'Times New Roman', Times, serif;
}

.add_form input , .add_form_normal input, .add_form_normal select{
  width:350px;
  height: 40px;
  border: 2px solid #606076;
  height: 30px;
  margin-left: 30px;
  background-color: rgb(214 221 222);
}

